#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
  color: black;
}

.fotonombre {
  position: relative;
  right: 40%;
  margin-top: 10%;
   text-align: center;

}

.bloquefondo {
  position: absolute;
  top: 15%;

}

.fondo {
  position: relative;
  height: 512px;
  width: 512px;
  left: 150%;
  margin-top: 10%;

}

.port {
  position: relative;
  border-radius: 5%;
  box-shadow: 10px 5px 5px rgb(119, 119, 119);
  left: 200%;


}
/*
*Acerca de
*/
.descripcion {
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
  column-count: 2;
  text-align: justify;
  column-rule: double 4px #ff6600;
  column-gap: 2rem;

}

/*
*Experiencia
*/
.experiencia{
  margin-top: 10%;

}

