
.fotonombre {
    position: absolute;
  margin-top: 10%;
   text-align: center;
  right: 50%;
  top: 10%;
}

.bloquefondo {
  position: absolute;
}

.fondo {/*foto mia portada*/
  position: relative;
  height: 512px;
  width: 512px;
  margin-top: 40%;
left: 200%;

}

/*
*Acerca de
*/
.descripcion {
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
  column-count: 2;
  text-align: justify;
  column-rule: double 4px #ff6600;
  column-gap: 2rem;

}

/*
*Experiencia
*/
.experiencia{
  margin-top: 10%;

}

