

@media (max-width: 768px) {
  
  html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(rgba(192, 212, 255, 0.904), #eeaa68); /* seguirá ahí debajo */
    font-family: Montserrat;
    line-height: 1.5;
    font-weight: 600;
    overflow: hidden;
   
  }

  .patron {
    position: absolute;   /* encima de todo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;      /* cubrir toda la pantalla */
    top: -25px;
    z-index: 0; /* debajo de todo */
  }

  .patronimagen{
  width: 100%;
  display: block;
    z-index: 0; /* debajo de todo */
  }
.fotonombre {
  position: absolute;
  right: 50%;
  top: 10%;
}

.bloquefondo{
left: 60%;
}
.fondo {
left: -50px;
}

  
}