@media (min-width: 1025px) {
  
  html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: #E0EAFF;
    font-family: Montserrat;
    line-height: 1.5;
    font-weight: 600;
    overflow: hidden;
   
  }

  .patron {
    position: absolute;   /* encima de todo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;      /* cubrir toda la pantalla */
     top: -25px;
     opacity: 0.4;
  z-index: 0; /* debajo de todo */
 
  }
  .patronimagen{
 width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
    z-index: 0; /* debajo de todo */
  }

  
}
.fotonombre {
    position: absolute;
  margin-top: 10%;
   text-align: center;
  right: 50%;
  top: 10%;
}

.bloquefondo {
  position: absolute;
}

.fondo {/*foto mia portada*/
  position: relative;
  height: 512px;
  width: 512px;
  margin-top: 40%;
left: 200%;

}