@media (min-width: 1025px) {
  
  html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(rgba(192, 212, 255, 0.904), #eeaa68); /* seguirá ahí debajo */
    font-family: Montserrat;
    line-height: 1.5;
    font-weight: 600;
  }

  .patron {
    position: absolute;   /* encima de todo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;      /* cubrir toda la pantalla */
  z-index: 0; /* debajo de todo */
 
  }
  .patronimagen{
  width: 100%;
  display: block;
    z-index: 0; /* debajo de todo */
  }
.fotonombre {
  position: absolute;
  right: 50%;
  top: 10%;
  
}

.bloquefondo{
  right: 100%;
  top: 20%;

  position: absolute;
}.fondo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* si quieres centrar horizontalmente también */
}

  
}