@media (min-width: 1025px) {
  .fotonombre {
    position: absolute;
    right: 60%;

    margin-top: 20%;
    text-align: center;
  }

  .bloquefondo {
    position: absolute;
  }

  .fondo {
    position: relative;
    height: 400px;
    width: 400px;
    margin-top: 100%;
    left: 200%;
  }
}
