@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.menu {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  z-index: 10;
}

.menu ul {
  list-style: none;
  padding: 15px 50px;
  margin-left: 30%;
  display: flex;
  gap: 40px;
  background-color: #58A6FF;
  border-radius: 15px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px 14px;
  border-radius: 10px;

  /* Para que el hover no mueva nada */
  border: 1px solid transparent;

  /* Suavidad */
  transition: all 0.25s ease;
}

/* Hover moderno */
.menu a:hover {
  background-color: #3B82F6;
  border-color: rgba(255, 255, 255, 0.3);

  /* Sombra profesional */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
