/* Bloques de contenido */
.resumen {
  background-color: #c0c9db;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 0px 15px 1px black;
  padding: 10px;
  margin: 250px 0 0 500px;
  width: 40%;
  cursor: pointer;
  color: black;
}
.resumen:hover {
  cursor: pointer;
  background-color: #0f3781;
  color: white;
}
.title1 {
  background-color: #c0c9db;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 0px 15px 1px black;
  padding: 10px;
  margin: 20px auto;
  width: 40%;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  color: black;
}

.responsabilidad {
  margin-left: 10px;
}

.subitem {
  margin-left: 30px;
  font-size: 0.9rem;
}
.title1:hover {
  background-color: #0f3781;
  color: white;
}
